.content{max-width:1200px!important;}
h3{text-align:center;}

/* figure and caption appearance for zoomedin images */
/* ************************************************** */
#closeup{
	position:fixed;
	display:none;
	width:100%;height:100%;
	top:0;left:0;right:0;bottom:0;
	background-color:rgba(0,0,0,0.7);
	z-index:3;cursor:pointer;
}
#bigimg {
    position:relative;
    width:100%;max-width:900px;
    height:100%;
    margin:auto;
    text-align:center;
    vertical-align:center;
}
#bigimg img {
    padding:1em;display:inline-block;
    max-width:100%;max-height:100%;
    position:relative;
    text-align:center;
    top:50%;cursor:auto;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
/* set origin of rotation for images, just for figure, 
this is unintuitive I THINK because of the centering transforms already on the element
it looks a little off from being quite the center
so i'm not sure if something else is more elegant but here we are  */
   	-webkit-transform-origin: 50% 0%;
  	-moz-transform-origin: 50% 0%;
  	-o-transform-origin: 50% 0%;
  	transform-origin: 50% 0%;
}
figcaption {
	width:100%;max-width:600px;
	height:4em;
    margin:auto;
    text-align:center;
    color:black;cursor:auto;
    position: absolute;
    bottom:0;left:0;right:0;
    background-color:rgba(255,255,255,0.8);
    padding:1em;
    padding-bottom:1em;
    opacity:1;
    z-index:4;
}
/* compensating for weird offset on rotation that I can't quite figure out */
#bigimg img.rotated {left:0.5em!important;}

/* x for closing the zoomin div, although clicking outside of image also works */
#figclose {
	color:#e1eaf7;font-size:3em;z-index:1;
	position:absolute;line-height:0.7em;cursor:pointer;border-radius:0.2em;
	right:0;top:0; padding:0.3em;background-color: rgba(56,74,99,0.7);
}


/* make sure none of the above appears on small screens*/
@media (max-width: 400px) {#closeup, #bigimg, #bigimg>img, figcaption{display:none!important;}}


/*caption appearance for small screens */
/* ************************************************** */
#img-grid div{position:relative;display:inline-block;}
#img-grid div div {
	margin:0;position:absolute;display:none;width:100%;
	color:black;background-color:rgba(255,255,255,0.8);
	bottom:0.8em;left:0;text-align:center;height:5em;
	z-index:1;line-height:1.1em;padding:1.2em 0.5em;
}
/* make sure none of the above appears on large screens */
@media (min-width:401px) {#img-grid div div{display:none!important;}}



/*photo grid stuff from https://css-tricks.com/seamless-responsive-photo-grid/ */
/* ************************************************** */
#img-grid div{width:100%;  padding-bottom:0.8em;}
#img-grid {
  /* Prevent vertical gaps */
  line-height: 0;
   
  -webkit-column-count: 5;
  -webkit-column-gap:   0.8em;
  -moz-column-count:    5;
  -moz-column-gap:      0.8em;
  column-count:         5;
  column-gap:           0.8em; 

}

#img-grid div img {
  cursor:pointer;
  /* Just in case there are inline attributes */
  width: 100%;
  height: auto;
  margin:auto;
}

@media (max-width: 1200px) {
  #img-grid {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #img-grid {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #img-grid {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #img-grid {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

/* for rotating ambigrams 90 deg with animation*/
/* ************************************************** */
/* both icons */
.ambi {
	color:#e1eaf7;font-size:4em;z-index:1;
	background-color: rgba(56,74,99,0.7);border-radius: 0em 0em 0em 0.1em;
	position:absolute;line-height:0.75em;cursor:pointer;
	right:0;top:0;padding-left:0.1em;padding-bottom:0.1em;
}
/*big version of rotation icon*/
#bigarrow{
	display:none;position:absolute;width:0.9em;border-radius:0.1em;
	left:0;padding-right:0.2em;padding-left:0.1em;padding-bottom:0.2em;
}
.ambi:hover, #figclose:hover{
	color:rgba(56,74,99,1);background-color:rgba(255,255,255,0.7);transition: 0.5s;
}
/*img rotation*/
.rotated {
	rotate:90deg;
	transition: 1s;
  	padding-bottom:0!important;right:0.8em;
  	margin:auto;
  	display:table;
}
.reset {
	rotate:0deg;
	transition:1s;
}
