.hljs {
	font-size:0.9em;
    overflow-x: scroll;
    padding:1em!important;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

li,li>ul>li{padding:0.1em;}
video{margin-top:1em;max-width:100%;}
video:focus {outline: none;} 
hr {background-color:black;border:none;height:2px;margin-top:2em;}
code{margin-top:-1em;margin-bottom:2em;}