/* ---------- styles for viz! ---------- */
html,body{height:100%;overflow:hidden;box-sizing:content-box;margin:0;font-family:sans-serif;}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}
body:active{background:none;}

/* ------- the viz! main container/objects ------- */
.maindiv{
  font: 16px sans-serif;height:100%;width:100%;max-width:900px!important;
  text-align:center;margin:0 auto;
}
.object{position:relative;text-align:center;}/* each thing that can be seen at once when screen is small gets this class*/
/* charts go in charts div and key/photos go together in key and photoslider divs*/
.charts{width:49%;float:left;height:100%;}
#dryfood,#wetfood{margin:auto;float:none!important;}
#key,#photoslider{width:49%;float:right;}
#key{background-color:white;z-index:2;}
.charts,#key,#keytable{margin:auto;position:relative;}
#keytable{width:300px;z-index:3;}
h4 {text-align:center;padding:5px;margin:0;}
svg{cursor:pointer;}
/* make it purple!?
.dc-chart circle.dot{fill:#9756c0;}
.dc-chart path.line{stroke:#9756c0;}
*/


/* ----------- look of keyslider, scrollbar, and selected/hovered divs ----------*/
table{display:table;}
tr{width:100%;line-height:24px;font-weight:bold;text-align:left;}
tr:first-child{display:none;} /* hide hover key by default until we know user can hover */
td{position:relative;width:100%;}
.hovered,.selected{font-weight:normal;}
#scrollability{cursor:pointer;z-index:4;}
#datescrollbar{
  position:absolute;
  border:2px solid black;
  border-radius:2px;
  opacity:0.9;
  height:8px;top:3px;
  width:257px;
  left:17px;
  line-height:17px
}
#leftscroller,#rightscroller{line-height:17px;}
#leftscroller,#rightscroller,#datescrollbar{;z-index:5;}
#leftscroller{float:left;} #rightscroller{float:right;}
#handle{
  opacity:0.7;
  position:absolute;
  height:15px;
  width:4px;
  top:1px;
  border-radius:2px;
  background-color:#333;
  border:1px solid #333;
  margin-left:0px;
}
.playslides{
  cursor:pointer;
  font-size:0.8em;
  font-variant:small-caps;
  border:2px solid black;
  border-radius: 5px;
  line-height:13px;
  padding:1px;
  width:33px;
  text-align: center;
  float:right;
  background-color:#00cc44;
}

/* -----------look of images/photoslider -------------- */
#photoslider{position:relative;margin-top:0;}
img {
  z-index:1;
  opacity:0;
  position:absolute;
  max-width:290px; /* the width of the slider - padding */
  text-align:center;
  margin:auto;
  padding: 5px 0px 5px 0px!important;
  max-height:90%;
  filter: alpha(opacity=0);
  -webkit-transition:opacity 1s;
  transition:opacity 1s;
  -moz-transition:opacity 1s;
  -o-transition: opacity 1s;
  top:50%;left:50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}
#dryfood,#wetfood,#key,#photoslider,.dryfood,.wetfood,.photos{display:inline-block;left:0;}
.photosleft,.photosright{position:absolute;height:100%;width:50%;z-index:2;}
.photosright{right:0;}
.loading{position:absolute;width:100%;top:50%;color:#dcdcdc;font-variant: small-caps;}
.leftscroller,.rightscroller {
    position:absolute;
    color:#f1f1f1;
    cursor:pointer;
    top: 40%;
    font-size:2em;
    opacity:0.3;
    z-index:2;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.leftscroller{left:11%;}.rightscroller {right:11%;}
.rightscroller:hover,.leftscroller:hover{opacity:1!important;}



/* ---------- when things are small! ----------------*/
/*carousel for toggling between charts/photos: default not shown*/
.carousel{position:absolute;display:none;height:0;width:0;}

/* change other elements styles depending on screen size */
@media screen and (max-width:599px) {
/* Carousel look */  
  .carousel{display:block;width:100%;height:50px;}
  ul{padding:0;width:100%;height:43px;margin:0;overflow:hidden;position:absolute;background-color:#f1f1f1;}
  li{
    display:none;width:330px;left:0;right:0;
    padding:0.3em 0 0.3em 0;list-style-type: none;
    text-align:center;font-size:1.5em;margin:0 auto;
    position:absolute;
  }
  li.dryfood{display:inline-block;} /* on load, list elements will not display and then dryfood one will*/
  li>div{display:inline-block;width:60px;font-size:0.5em;color:#333;opacity:0.5;padding:0 1% 0 1%;cursor:pointer;}
  li>div.thisone{display:inline-block;width:97px;font-size:1em;opacity:1;cursor:auto;}
  li i{padding:0 1% 0 1%;cursor:pointer;}

/* Look/behavior/position of chart and photo objects and slider */
  .object{margin-top:100px;display:none;margin-left:0;}
  .object.dryfood{display:inline-block;}
  .charts{width:100%;}
  #key{width:100%;position:absolute;top:43px;}
  /*tr:first-child{display:none;opacity:0;} /* actually disappear hover key when screen is small unless user can hover*/
  #keytable{width:298px;margin:auto;}
  #photoslider{height:100%;width:100%;margin:0;}
  img{max-width:95%;margin:5px auto 10px auto;}
  #datescrollbar{width:256px;}
  .dryfood{left:0;}
  .wetfood{left:-200%;}
  .photos{left:200%;}
}
/* let hover table row show if user can hover*/
.user-is-hovering{display:table-row!important;}
.user-is-touching{display:none!important;}

@media screen and (max-height:349px) {
/* Carousel look */  
  .carousel{display:block;height:100%;width:120px;}
  ul{padding:0;width:120px;height:100%;margin:0;overflow:hidden;position:absolute;background-color:#f1f1f1;}
  li{
    display:none;width:100%;
    padding:0.3em 0 0.3em 0;list-style-type: none;
    text-align:center;font-size:1.5em;
    position:absolute;
  }
  li.dryfood{display:block;} /* on load, list elements will not display and then dryfood one will*/
  li>div{
    display:block;width:60px;font-size:0.5em;
    color:#333;opacity:0.5;padding:0 1% 0 1%;
    cursor:pointer;margin:auto;
  }
  li>div.thisone{display:block;width:97px;font-size:1em;opacity:1;cursor:auto;}
  li i{padding:8% 0 8% 0;cursor:pointer;}

/* Look/behavior/position of chart and photo objects and slider */
  .object{margin-top:0px;display:none;margin-left:120px;}
  .object.dryfood{display:block;}
  .charts{width:100%;}
  #key{width:100%;position:absolute;top:43px;}
  #keytable{width:298px;margin:auto;}
  #photoslider{height:100%;width:100%;margin:0;}
  img{max-width:95%;margin:5px auto 10px auto;}
  #datescrollbar{width:256px;}  
  .dryfood{top:0;}
  .wetfood{top:-200%;}
  .photos{top:200%;}
}

@media screen and (max-height:349px) and (min-width:600px) {
  #key,#photoslider{width:49%;}
}
@media screen and (min-height:350px) and (min-width:600px) {
  .charts{margin:auto;}
}
