<!DOCTYPE html>
<head>
<title>Aviva Hamavid</title>
<meta name='keywords' content='Hamavid, Hamavid.com, Aviva Hamavid, math, teaching, origami, education, quilting, environmental policy'/>
<!--<link rel='icon' href='./images/favicon-32x32.png'>-->
<meta name='viewport' content='width=device-width, initial-scale=1'/>
<!-- STYLES -->
<link rel='stylesheet' type='text/css' href='./css/general_style.css'/>
<link rel='stylesheet' type='text/css' href='../css/font-awesome.min.css'/>
<link rel='stylesheet' type='text/css' href='./css/index.css'/>
<!-- SCRIPTS -->
<script type='text/javascript' src='../js/googleanalytics.js'></script>
<script type='text/javascript' src='../js/jquery-3.1.1.min.js'></script>
</head>

<!--////////////////////////////////////////////////////////////////// -->

<body>
<div class='content'>
<h1 style='width:100%;text-align:center'>Aviva Hamavid</h1>
<p class='bottombar'></p>
<p style='text-align:center'>Site coming soon!</p>
<p class='bottombar'></p>
</div>

<!-- Footer -->
<footer>
  <h5>Aviva Hamavid 2020</h5>
</footer>
</body>
