<!DOCTYPE html>
<head>
<title>Hannah Hamavid</title>
<link rel="icon" href="./images/favicon-32x32.png">
<meta name="keywords" content="Hamavid, Hamavid.com, Hannah Hamavid, art, watercolor, block print"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<!--Thematic address bar color on mobile-->
<meta name="theme-color" content="#7fcac3" />
<meta name="msapplication-navbutton-color" content="#7fcac3">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="#7fcac3">
<!-- STYLES -->
<link rel="stylesheet" type="text/css" href="./css/stylesheet.css"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora"/>
<link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css"/>
<!--<<link rel="stylesheet" type="text/css" href="./css/index.css"/>-->
<!-- SCRIPTS -->
<!--<script type="text/javascript" src="../js/googleanalytics.js"></script>-->
<script type="text/javascript" src="../js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="./js/scripts.js"></script>
<!--<script type="text/javascript" src="./js/index.js"></script>-->
</head>

<!--////////////////////////////////////////////////////////////////// -->

<body class='grey-blue'>

<!-- Name and navbar/menu-->
<div id="topnav" class="grey-blue topnavbar top">
	<div class="topnavbar-contents">

		<span class="name"><a href="#">Hannah Hamavid</a></span>

		<div class="navbar-menu">Menu</div>
		<nav class="navlinks-pocket">
			<div class="navlinks">
			<ul>
			<a href="."><li>Home</li></a>
		    <a href="./artportfolio/"><li>Art Portfolio</li></a>
		    <a href="./artshows"><li>Art Shows</li></a>
		    <a href=".#music"><li>Music</li></a>
		    <a href=".#links"><li>Links</li></a>
		    </ul>
		    </div>
	    </nav>
	</div>  
</div>
<!-- Overlay effect when opening topnav on small screens -->
<div class="overlay animate-opacity" title="close menu" id="overlaybkgrnd"></div>


<!-- Main content -->
<div class='content'>

<p>I live in Seattle where I am usually making art, hanging out with my kids, or riding my bike around town.</p>
<p>The best way to contact me is by email: hamavid (at) gmail (dot) com</p>

<div class='lefter yellowish'>
<h2>-Art-</h2>
<p>I make paintings, drawings, and block prints. You can buy my notecards and stickers of my art in Seattle at <a href='https://www.zokacoffee.com/pages/greenlake-zoka'>Zoka</a> or <a href='https://lighthouseroasters.com/'>Lighthouse</a>. Those are also available on <a href='http://hamavid.etsy.com'>Etsy</a> along with originals. I sometimes display my art at caf&#233;s, laundry rooms, and law offices.
<div class='nest'>
<a class='' href='./artportfolio'><div class=''>Check out my portfolio</div></a>
<a class='' href='./artshows'><div class=''>Art shows past, present, and future</div></a>
</div>
</div>

<div class='righter light-green'>
<h2 id="music">-Music-</h2>
<p>I play violin, ukulele, and guitar, and I sing. Here are some projects I've been in:</p>
<div class='nest'>
<a class='' href='http://www.brivele.com'><div class=''>Brivele (Yiddish folk-punk trio) 2017-2023</div></a>
<a class='' href='https://www.seattleklezmer.com/klez-chaos/'><div class=''>Klez Chaos (community band playing klezmer classics)</div></a>
<a class='' href='https://owtunes.bandcamp.com/'><div class=''>Eitim (preschool collaboration)</div></a>
<a class='' href='https://www.youtube.com/@kpruitth/videos'><div class=''>Some songs with KPH music (Thorns, Forgot to Mention, The Water)</div></a>
<a class='' href='https://soundcloud.com/hamavid'><div class=''>Solo stuff from the late aughts</div></a>
</div>
</div>

<div class='lefter orangeish'>
<h2 id="links">-Links-</h2>
<div class='nest'>
<a class='' href='http://www.instagram.com/hahahamavid'><div class=''>Instagram</div></a>
<a class='' href='http://hamavid.etsy.com'><div class=''>Etsy</div></a>
<a class='' href='http://hamavid.bandcamp.com'><div class=''>Bandcamp</div></a>
</div>
</div>

</div>
<!-- Footer -->
<footer>
  <h5 style="font-size:0.9em;font-weight:200;">Hannah Hamavid 2024</h5>
</footer>
</body>
</html>
