/* STYLES!! */
html,body{height:100%;}
body{
	background-color:#000;
	font-size:0px; /* added to get rid of mysterious upper and left margins */
	padding: 0;
	margin: 0;
	overflow:hidden;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
figure {
	padding:0;
	position:relative;
	display:block;
	/*margin:0;
   	left:50%;
   	-webkit-transform: translate(-50%);
   	transform: translate(-50%);*/
   	margin:auto;
   	vertical-align: middle;
}
img {
    position: absolute;
    top: 0; bottom:0; left: 0; right:0;
    margin: auto;
}

/* the location of sisters*/
#aviva_area,#hannah_area,#showabout  {
	cursor:pointer;
	position:absolute;
	z-index:1;
}
#aviva_area{
	width:47%;
	height:85%;
	top:15%;
}
#hannah_area{
	width:52%;
	height:77%;
	top:11%;
	right:0;
}


/* show/hide various images based on mouseover */
#default {opacity:1;}
#hl_aviva,#hl_hannah,.about{
	opacity:0;
	position:absolute;
	left:0;
	-webkit-transition:opacity 0.7s;
	transition:opacity 0.7s;
	-moz-transition: opacity 0.7s;
  	-ms-transition: opacity 0.7s;
  	-o-transition: opacity 0.7s;
}
/* hack: no opacity transition when about is bigger than pic, otherwise
the picture pops in front of about while it's transitioning out */
.smallabout {
	-webkit-transition:opacity 0s;
	transition:opacity 0s;
	-moz-transition: opacity 0s;
  	-ms-transition: opacity 0s;
  	-o-transition: opacity 0s;
}
#aviva_area:hover + #hl_aviva{opacity:1;} 
#hannah_area:hover + #hl_hannah{opacity:1;}
figure:hover #default{opacity:1;}

/* button to show about section */
#showabout{
	display:block;
	z-index:2;
	line-height:60px;
	font-size:50px;
	width:60px;
	background-color:transparent;
	color:#fff;
	text-align:center;
	font-family:sans-serif;
	bottom:0;
	right:8px;
	-webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
}
#showabout:hover{font-size:60px;}
#showabout::after{margin-top:-60px;}

/*about section */
.about {
	opacity:0;
	max-width:80%;
	margin: auto;
	position: absolute;
	bottom: 0;
	right: 0;
	left:0;
	top:0;
	z-index:0;
	height:80%;
	text-align:center;
	background-color:#000;
	color:#fff;
	font-size:16px;
	font-family:sans-serif;
	overflow-y:auto;
	padding:1em;
	border-radius:8px;
}
@media screen and (min-width: 600px), and (min-height: 500px){.about{max-width:70%;height:70%;}}
.about p {padding:0.2em;}
.about a:link,.about a:hover,.about a:visited,.about a:active{color:#fff;cursor:pointer;z-index:15;}
.smallabout {height:100%;padding-top:3em;padding-bottom:2em;}

/*button to hide about section*/
.hideabout {
	color:#d3d3d3;
	display:block;
	cursor:pointer;
	float:right;
	font-size:20px;
}
.hideabout:hover{color:#fff;}

/* simple version of page for js disabled */
#simple{
	font-family:sans-serif;
	height:99%;width:80%;margin:auto;
	text-align:center;position:relative;
	color:#f1f1f1;font-size:20px;
	border:3px solid #f1f1f1;z-index:4;
}
#simple p{padding:8px;}
#simple a{padding:16px;color:#f1f1f1;cursor:pointer;}









